<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Example Matter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script class="schema" type="application/json">
{
  "$schema" : "http://json-schema.org/draft-04/schema#",
  "id"    : "/matter/schemaComposition/composedMatter.html?type=schema",
  "type"    : "object",   
  "properties" : {
      "simplePropertyInComposedMatter" : { "type" : "string", "enum" : ["simplePropertyInComposedMatterValue"]}
  },
  "required" : ["simplePropertyInComposedMatter"]
}
</script>

<body>
  <div class="matter">
   <div th:text="${simplePropertyInComposedMatter}">Should eplaced with data from job</div>
  </div>
  <div data-matter-link="/matter/schemaComposition/embedded.html">
      Content is not relevant for the test
  </div>
</body>
</html>