<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Example Matter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<script class="schema" type="application/json">
{
  "$schema" : "http://json-schema.org/draft-04/schema#",
  "id"    : "/matter/schemaComposition/embedded.html?type=schema",
  "type"    : "object",   
  "properties" : {
    "embeddedProperty" : { "type" : "string", "enum" : ["embeddedPropertyValue"]}
  },
  "required" : ["embeddedProperty"]
}
</script>

<body>
  <div class="matter">
   <div th:text="${simpleMatterScalarProperty}">Should replaced with data from job</div>
   <div th:text="${simpleMatterObject.objectProperty}">Should be filled with property from object from job</div>
  </div>
</body>
</html>