<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Example Matter</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style type="text/css" >
.postaladress span:after {
	content: " ";
}
</style>

<script class="schema" type="application/json">
{
	"$schema" : "http://json-schema.org/draft-04/schema#",
	"id"	  : "/matter/postaladdress.html?type=schema",
	"type"	  : "object", 	
    "properties" : {
		"recipient" : {
			"type" : "object",
			"properties" : {
				"salutation"  : { "type" : "string"},
				"givenname"   : { "type" : "string"},
				"lastname"    : { "type" : "string"},
				"street"	  : { "type" : "string"},
				"houseNumber" : { "type" : "string"},
				"postCode"    : { "type" : "string"},
				"city"		  : { "type" : "string"}
			},
			"required" : ["salutation","givenname","lastname","street","houseNumber","postCode","city"]
		}
	},
	"required" : ["recipient"]
}
</script>

<body>
  <div class="matter">
    <div class="postaladress">
      <div th:text="${recipient.salutation}">Frau</div>
      <div>
        <span th:text="${recipient.givenname}">Ada</span><span th:text="${recipient.lastname}">Lovelace</span>
      </div>
      <div>
        <span th:text="${recipient.street}">Turing-Straße</span><span th:text="${recipient.houseNumber}">42</span>
      </div>
      <div>
        <span th:text="${recipient.postCode}">98693</span><span th:text="${recipient.city}">Ilmenau</span>
      </div>
    </div>
  </div>
</body>
</html>