<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/matter/postaladdress.html?type=css">
<style type="text/css">
@page {
	size: a4;
	margin: 139px 44px 150px 125px;
}
</style>
<script class="schema" type="application/json">
{
	"$schema" : "http://json-schema.org/draft-04/schema#",
	"id"	  : "/documentdefinitions/docdefWithMatter.html?type=schema,
	"type"	  : "object",
	"properties" : {
		"allOf" : [
			
		]
	}
}
</script>
</head>
<body>
  <div id="letterHeader">
    <div data-matter-link="/matter/postaladdress.html">
      <div class="postaladress">
        <div th:text="${recipient.salutation}">Frau</div>
        <div>
          <span th:text="${recipient.givenname}">Ada</span><span th:text="${recipient.lastname}">Lovelace</span>
        </div>
        <div>
          <span th:text="${recipient.street}">Turing-Straße</span><span th:text="${recipient.houseNumber}">42</span>
        </div>
        <div>
          <span th:text="${recipient.postCode}">98693</span><span th:text="${recipient.city}">Ilmenau</span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>